body {
  margin: 0;
  padding: 0 6%;

  @include breakpoint(small) {
    padding: 0 0 0 14%;
  }
}

.hidden {
  display: none;
}

.logo {
  display: block;
  margin-left: -0.2rem;
  position: absolute;
  top: 9%;
  width: 3rem;

  path {
    stroke: $color-black;
  }

  polyline {
    stroke: transparent;
    stroke-width: 0;
    fill: transparent;
  }
}

.work-icon,
.cv-icon {
  display: block;
  position: absolute;
  top: 5%;
  width: 3rem;

  line,
  rect,
  polyline,
  polygon,
  path {
    fill: transparent;
    stroke: $color-black;
    stroke-dasharray: 210;
    stroke-width: 2;
  }
}

.cv-icon {
  left: 0;
  margin-left: -0.2rem;
  top: 0;

  @include breakpoint(small) {
    top: 3.2%;
  }
}

.sayhi {
  @include transform(rotate(90deg));

  font-family: $ff-sans;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  right: -4rem;
  text-transform: lowercase;
  top: 5.5rem;
  position: absolute;

  a {
    display: block;
    text-decoration: none;
  }
}

.next {
  bottom: 3rem;
  font-size: 1rem;
  font-style: italic;
  left: 0;
  letter-spacing: 0.08rem;
  position: absolute;

  @include fluid-type($screen-minW, $screen-maxW, $mod_1/1.2 * 1rem, $mod_2/1.15 * 1rem);

  &:after,
  &::after {
    content: '\2193';
    display: block;
    font-family: $ff-sans;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
  }
}

header.start {
  @include flexbox((
    display: box,
    align-items: center,
    justify-content: flex-start
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    align-items: center,
    justify-content: flex-start
  ), $version: 2);
  @include flexbox((
    display: flex,
    align-items: center,
    justify-content: flex-start
  ));
  min-height: 100vh;
  position: relative;

  h1 {
    margin-top: -2em;

    span {
      color: $color-highlight;
      font-family: $ff-serif;
      font-size: 1.16em;
      font-style: italic;
    }
  }

  p {
    @include breakpoint(small) {
      margin-left: -1.8em;
    }
  }

  .ferocia {
    display: inline-block;
    fill: $color-ferocia;
    height: 1.2em;
    margin-top: -0.2em;
    vertical-align: middle;
  }

  nav {
    display: none;
    padding-top: 2em;
    text-align: left;

    a {
      color: $color-black;
      display: inline-block;
      padding: 0.5em 1.0em 0.5em 0;

      &:hover {
        color: $color-highlight;
      }
    }

    svg {
      fill: currentColor;
      height: 1.5rem;
      width: 1.5rem;
    }

    @include breakpoint(small) {
      padding-top: 0;
      text-align: left;
    }
  }
}

section {
  display: none;
}
