body {
  padding: 0 6%;

  @media screen and (min-width: 35rem) {
    padding-left: 14%;
  }
}

.logo {
  display: block;
  position: absolute;
  top: 5.5rem;
  width: 2.5rem;
}

.sayhi {
  @include transform(rotate(90deg));

  font-family: $ff-sans;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  right: -4rem;
  text-transform: lowercase;
  top: 5.5rem;
  position: absolute;

  a {
    display: block;
    text-decoration: none;
  }
}

.next {
  bottom: 3rem;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.03rem;
  position: absolute;

  @include fluid-type($screen-minW, $screen-maxW, $mod_1/1.2 * 1rem, $mod_2/1.15 * 1rem);

  &:after,
  &::after {
    content: '\2193';
    display: block;
    font-family: $ff-sans;
    font-size: 2em;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
  }
}

header {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: flex-start;

  h1 {
    margin-top: -3em;

    span {
      color: $color-highlight;
      font-family: $ff-serif;
      font-size: 1.2em;
      font-style: italic;
    }
  }

  p {
    @media screen and (min-width: 35rem) {
      margin-left: -1.8em;
    }
  }
}
