section {
  display: block;
}

.worklisting {
  @include flexbox((
    display: box,
    align-items: center,
    justify-content: flex-start
  ), $version: 1);
  @include flexbox((
    display: flexbox,
    align-items: center,
    justify-content: flex-start
  ), $version: 2);
  @include flexbox((
    display: flex,
    align-items: center,
    justify-content: flex-start
  ));
  height: 100vh;
  min-height: 45rem;
  overflow: hidden;
  position: relative;

  ul {
    @include transform(translateY(-7%));
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 0 8% 0;
  }

  a {
    color: $color-black;
    text-decoration: none;

    &:hover {
      color: $color-highlight;
    }
  }

  h2 {
    font-size: 1rem;
    letter-spacing: 0.3em;
    margin-bottom: 0;
    @include fluid-type($screen-minW, $screen-maxW, $mod_1/1.2 * 1rem, $mod_2/1.15 * 1rem);
  }
  p {
    margin-top: 0;
  }

  .workpreview {
    background-color: $color-green;
    height: 90%;
    position: absolute;
    left: 30%;
    top: 5%;

    .cross {
      height: 100%;

      path {
        stroke: $color-black;
        stroke-dasharray: 2000;
        stroke-width: 1;
      }
    }
  }

  .workpreview-canvas {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    img.bg {
      @include transition(opacity 0.2s ease-in-out);
      display: block;
      opacity: 0;
      position: absolute;
      width: 100%;

      &.show {
        opacity: 1;
      }
    }
  }
}


.cv {
  padding-top: 4rem;
  position: relative;

  article {
    margin: 0;
    max-width: 60rem;
    padding: 0;

    .cut {
      &:before,
      &::before {
        color: $color-highlight;
        content: '— ';
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 0;
        padding: 1rem 0 4rem 0;
      }

      &:first-child:before,
      &:first-child::before {
        display: none;
      }
    }

    .sidebar {
      display: block;
      font-style: italic;
      letter-spacing: 0.1em;

      span {
        display: block;
        font-family: $ff-sans;
        font-size: 0.7em;
        font-style: normal;
        margin: 0.2rem 0;
      }

      a {
        font-family: $ff-sans;
        font-size: 0.7em;
        font-style: normal;
      }
    }

    h2 {

    }

    h3 {

    }

    p {
      margin-bottom: 5rem;

      & + p {
        margin-top: -4.5rem;
      }
    }

    blockquote {
      display: block;
      margin: 0;
      padding: 0;

      p {
        font-style: italic;
      }

      &:before,
      &::before {
        content: '“';
        display: block;
        float: left;
        font-size: 4em;
        line-height: 0;
        margin: 0 0.1em 0 0;
        padding-top: 0.4em;
      }
    }

    ul {
      margin-bottom: 5rem;
      margin-top: -4.5rem;
      padding: 0 0 0 1.9rem;
    }

    li {
      font-style: italic;
      list-style-type: none;
      margin-left: 0;
      text-indent: -1.9rem;

      &:before,
      &::before {
        content: '\2192';
        display: inline-block;
        font-weight: bold;
        line-height: 0;
        height: 0.2em;
        margin-right: 0.4rem;
        text-indent: 0;
        width: 1.5rem;
      }
    }
  }

  @include breakpoint(small) {
    padding: 15% 5% 0 4rem;

    article {
      .sidebar {
        float: left;
        margin-top: 0.2rem;
        text-align: right;
        width: 22%;
      }

      h2,
      h3,
      p,
      ul,
      blockquote,
      section:before,
      section::before {
        margin-left: 25%;
      }

      blockquote p {
        margin-left: 0;
      }

      h2 {
        margin-top: 0;
      }
    }
  }
}
