body {
  font-family: $ff-serif;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ff-sans;
  line-height: 1.2;
  margin: 0.5rem 0;
  padding: 0;
}

h1 {
  font-size: $mod_1*$mod_1*$mod_1*$mod_1 *1rem;
}

h2 {
  font-size: $mod_1*$mod_1*$mod_1 *1rem;
}

h3 {
  font-size: $mod_1*$mod_1 *1rem;
}

h4 {
  font-size: $mod_1 *1rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 1/$mod_1 *1rem;
}

h1 {
	@include fluid-type($screen-minW, $screen-maxW, $mod_1*$mod_1*$mod_1*$mod_1 *1rem, $mod_2*$mod_2*$mod_2*$mod_2 *1rem);
}

h2 {
	@include fluid-type($screen-minW, $screen-maxW, $mod_1*$mod_1*$mod_1 *1rem, $mod_2*$mod_2*$mod_2 *1rem);
}

h3 {
	@include fluid-type($screen-minW, $screen-maxW, $mod_1*$mod_1 *1rem, $mod_2*$mod_2 *1rem);
}

h4 {
	@include fluid-type($screen-minW, $screen-maxW, $mod_1 *1rem, $mod_2 *1rem);
}

h5 {
	@include fluid-type($screen-minW, $screen-maxW, 1rem, 1rem);
}

h6 {
	@include fluid-type($screen-minW, $screen-maxW, 1/$mod_1 *1rem, 1/$mod_2 *1rem);
}

p,
li {
  font-family: $ff-serif;
  font-size: $mod_1*$mod_1 *1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  padding: 0;
}

p,
li {
	@include fluid-type($screen-minW, $screen-maxW, $mod_1 *1rem, $mod_2 *1rem);
}


p.predashed {
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.08rem;

  &:before,
  &::before {
    content: '— ';
    font-size: 1.5em;
    font-weight: bold;
    line-height: 0;
  }
}

p.predashed {
  @include fluid-type($screen-minW, $screen-maxW, $mod_1/1.2 * 1rem, $mod_2/1.15 * 1rem);
}
