// $mod_1: 1.067;
// $mod_2: 1.333;

$mod_1: 1.10;
$mod_2: 1.333;

$screen-minW: 36rem;
$screen-maxW: 150rem;

$ff-serif: "Times New Roman", serif;
$ff-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;

$color-highlight: #0027FF;
