@include keyframes(dropout) {
  0% {
    @include transform(translateY(0%));
    opacity: 1;
  }
  100% {
    @include transform(translateY(50%));
    opacity: 0;
  }
}

@include keyframes(dropin) {
  0% {
    @include transform(translateY(-50%));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0%));
    opacity: 1;
  }
}

.start-change {
  display: inline-block;
  @include animation(dropout 0.2s ease-in 0s forwards);
}

.end-change {
  display: inline-block;
  @include animation(dropin 0.2s ease-out 0s forwards);
}
