body.fullwidth {
  padding: 0;
}

nav {
  display: block;
  margin: 0 auto;
  padding: 0;
  width: 94%;

  ul {
    @include flexbox((
      display: box,
      align-items: center,
      justify-content: flex-start,
      flex-direction: row
    ), $version: 1);
    @include flexbox((
      display: flexbox,
      align-items: center,
      justify-content: flex-start,
      flex-direction: row
    ), $version: 2);
    @include flexbox((
      display: flex,
      align-items: center,
      justify-content: flex-start,
      flex-direction: row
    ));

    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  li {
    @include flexbox((
      flex: 1 0 0
    ), $version: 1);
    @include flexbox((
      flex: 1 0 0
    ), $version: 2);
    @include flexbox((
      flex: 1 0 0
    ));
    text-align: center;

    &:first-child {
      text-align: left;

      a:before,
      a::before {
        content: '\2190';
        display: inline-block;
        font-family: $ff-sans;
        font-size: 2em;
        line-height: 0.6;
        vertical-align: top;
      }
    }

    &:last-child {
      text-align: right;

      a:after,
      a::after {
        content: '\2192';
        display: inline-block;
        font-family: $ff-sans;
        font-size: 2em;
        line-height: 0.6;
        vertical-align: top;
      }
    }
  }

  a {
    color: $color-black;
    display: inline-block;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    padding: 0.5em 0;
    text-decoration: none;

    &:hover {
      color: $color-highlight;
    }
  }
}

.logo-header {
  width: 3rem;

  path {
    stroke: currentColor;
  }
}

article {
  header {
    margin: 2em auto 3em auto;
    width: 94%;

    h1 {
      font-size: 1.5*$mod_1*$mod_1*$mod_1*$mod_1 *1rem;
      letter-spacing: 0.2em;
      text-align: center;

      @include fluid-type($screen-minW, $screen-maxW, 1.5*$mod_1*$mod_1*$mod_1*$mod_1 *1rem, 1.5*$mod_2*$mod_2*$mod_2*$mod_2 *1rem);

      &:after,
      &::after {
        color: $color-highlight;
        content: '—';
        display: block;
        font-family: $ff-sans;
        font-size: 0.6em;
        font-weight: normal;
        margin: 0.6rem auto 1rem auto;
      }
    }

    p {
      font-size: $mod_1*$mod_1 *1rem;
      font-style: italic;
      letter-spacing: 0.05em;
      margin: 0 auto;
      max-width: 43rem;
      text-align: center;

      @include fluid-type($screen-minW, $screen-maxW, 1*$mod_1 *1rem, 1.1*$mod_2 *1rem);
    }
  }

  img {
    max-width: 100%;
  }

  .intro {
    background-position: center top;
    background-size: cover;
    height: 20rem;
    overflow: visible;
    position: relative;
    width: 100%;

    img {
      @include transform(translateX(-50%));
      display: block;
      left: 50%;
      margin: 0 auto;
      position: absolute;
      width: 90%;

      &.pursuit {

      }
    }

    @include breakpoint(small) {
      height: 34rem;
    }
  }

  &.uom {
    header {
      margin: 2em auto 7em auto;
    }

    .intro {
      img {
        bottom: 2rem;
        max-width: 31rem;
        width: 20rem;

        @include breakpoint(small) {
          width: 90%;
        }
      }
    }
  }

  &.pursuit {
    .intro {
      margin-bottom: 4rem;

      img {
        bottom: -2rem;
        max-width: 66rem;
        width: 125%;

        @include breakpoint(small) {
          bottom: auto;
          top: 8rem;
          width: 100%;
        }
      }
    }
  }

  &.shakespeare {
    .intro {
      margin-bottom: 6%;

      img {
        bottom: -12%;
        max-width: 54rem;
        width: 100%;
      }

      @include breakpoint(small) {
        margin-bottom: 6%;

        img {
          bottom: -16%;
          width: 100%;
        }
      }
    }
  }

  &.webfontblender {
    header {
      margin: 2em auto 7em auto;
    }

    .intro {
      background-color: #F3D100;
      background-position: 90% -10%;
      background-repeat: no-repeat;
      background-size: auto 150%;
      margin-bottom: 6%;

      img {
        bottom: -12%;
        max-width: 40rem;
        width: 26rem;
      }

      @include breakpoint(small) {
        margin-bottom: 6%;

        img {
          @include transform(translateX(-80%));

          bottom: -14%;
          width: 100%;
        }
      }
    }
  }

  &.meinlcymbals {
    .intro {
      margin-bottom: 6%;

      img {
        bottom: -12%;
        max-width: 25rem;
        width: 90%;
      }

      @include breakpoint(small) {
        margin-bottom: 12%;

        img {
          bottom: -16%;
          max-width: 44rem;
          width: 100%;
        }
      }
    }
  }
}
