h3 {
    font-weight: 500;
    font-size: 2.5rem;
}
.highlight {
    // font-style: italic;
    font-weight: 500;
    font-size: 1.5rem;
    // background-color: var(--bodyColor);
    // color: var(--backgroundColor);
    display: inline-block;
}


.reading-time {
    font-size: .75rem;
    text-wrap: nowrap;
}

.inverse {
    background-color: var(--bodyColor);
    color: var(--backgroundColor);
}

.inset-right {
    @media (min-width: 900px) {
        float: right;
        width: 40%;
    }

    img {
        width: 100%;
        display: block;
        height: auto;
    }
}

.background-image {
    background-size: 100% auto;
    background-position: top left;
    background-repeat: no-repeat;
}

.fieldnote .media-full-width {
    margin-bottom: 0;
}

.designsystem a .logo {
    background-color: #c4e1f1;
}

.designsystem a:hover .logo {
    background-color: #c4e1f1;
}


.designsystem {
    // font-family: supria-sans, sans-serif;    
    // line-height: 1.6;
    // font-family: "libre-franklin", sans-serif;
    font-family: optima-lt-pro, sans-serif;
    font-weight: 400;

    .work-text-large,
    .highlight,
    h3 {
        font-family: cooper-black-std, serif;
    }

    .work-text-large {
        font-size: 3.25rem;
        max-width: 35rem;
    }

    .work-text p {
        max-width: 32rem;
    }
    
    .work-text p.highlight {
        font-size: 2rem;
        max-width: 45rem;
    }


    .inverse {
        color: #f0d2b1;
    }

    .leader {
        background-size: 100% auto;
        background-position: left top;
        background-repeat: no-repeat;
        min-height: 56.25vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;

        .work-text {
            padding: 55px 10% 1rem 10%;
            // background-color: "#dae9c2";

            @media screen and (min-width: 920px) {
                padding: 0 22% 1rem 24%;
            }
        }

        p.highlight {
            padding-left: 24%;
        }

        h3 {
            padding: 10% 50% 0 1rem;
            font-size: 2rem;
            line-height: 1;
            position: absolute;
            // bottom: 0;

            @media screen and (min-width: 920px) {
                top: 50%;
                transform: translateY(-50%);
                font-size: 3rem;
            }
        }
    }

    @media screen and (min-width: 920px) {
        .two-col {
            display: flex;
            align-items: flex-start;
             
            div {
                flex: 1;
                padding: 0 2rem 0 0;
            }

            .highlight {
                flex: 1;
            }
        }

        .bottom {
            align-items: flex-end;
        }

        .intent.work-text  p.highlight{
            padding-bottom: 0.8rem;
            margin-bottom: 0;
            font-size: 3rem;
            line-height: 1;
        }

        .up.work-text  p.highlight{
            padding: 0.5rem 2rem 0 0;
            margin: 0;
            font-size: 3rem;
            line-height: 1;
            text-align: right;
        }

        .prove.work-text  p.highlight{
            padding: 0.5rem 2rem 0 0;
            margin: 0;
            font-size: 3rem;
            line-height: 1;
            text-align: right;
            max-width: 20rem;
        }
        
    }

    .points {
        list-style-type: none;
        padding: 0;
        width: 100%;
        margin: 0;

        p {
            margin: 0;
            max-width: 100%;
        }

        li {
            padding: 0;
            margin: 0 0 3rem 0;

            div {
                float: left;
                position: relative;
                margin-right: -3rem;
                width: 20%;
                z-index: 1;

                img {
                    display: block;
                    width: 100%;
                    height: auto;
                    position: relative;
                    z-index: 1;
                }
            }
            
            p {
                position: relative;
                z-index: 100;
                width: 100%;

                @media screen and (min-width: 920px) {
                    width: 80%;
                }
            }
        }

        p.highlight {
            font-size: 1.5rem;
            max-width: 100%;
        }
    }

    .finale {
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
        text-align: center;
        padding: 5rem 1rem 0rem 1rem;

        p {
            max-width: 100%;
            padding: 0 0 3rem 0;
            margin: 0;

            &:last-child {
                padding-bottom: 0;
            }
        }

        .heart {
            font-family:"freight-sans-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 3rem;
            color: #df4e2f;
        }
    }
}


.roi {
    padding: 0 0.5rem 1rem 0.5rem;
    max-width: 1600px;
    margin: 0 auto;

    h1 {
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 700;
        font-style: normal;
        display: block;
    }

    h2 {
        font-size: 1.3rem;
    }

    h2, h3, .roi-intro p, p.end {
        font-family: "neue-haas-grotesk-display", sans-serif;
        font-weight: 600;
        font-style: normal;
    }

    p {
        font-family: "neue-haas-grotesk-text", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }

    header {
        padding: 1rem 1rem 2rem 1rem;
        margin-bottom: 1rem; 
        background-position: -30px -10px;

        h1 {
            line-height: 1.1;
            font-size: 2.6rem;
            
            span {
                display: block;
                color: var(--backgroundColor);
            }
        }
    }

    section {
        padding: 0 1rem 2rem 1rem;
    }

    @media screen and (min-width: 980px) {

        .two-cols {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            
            > div {
                box-sizing: border-box;
                flex: 1;
            }

            p {
                font-size: 0.7rem;
                line-height: 1.3;
                margin: 0 0 1.5rem 0;
            }

            p:first-child,
            h2:first-child {
                margin-top: 0;
            }

            p:last-child,
            h2:last-child {
                margin-bottom: 0;
            }

            .right-align {
                text-align: right;
            }

            &.reverse {
                flex-direction: row-reverse;
            }

            &.end {
                align-items: flex-end;
            }

            &.thirds .two-col-img {
                flex: 0.5;
            }
        }

        header {
            background-repeat: no-repeat;
            background-size: 100% auto;
            margin-bottom: 0; 
            background-position: top left;
            
            padding-top: 2rem;

            .header-content {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                gap: 2rem;

                h1 {
                    flex: 1;
                    line-height: 1;
                    font-size: 4rem;
                    margin: 0 0 -2rem 0;
                    max-width: 600px;
                }

                div {
                    flex: 1;
                    aspect-ratio: 1 / 1;
                    max-width: 48%;

                    display: flex;
                    align-items: flex-end;

                    p {
                        margin: 0;
                        line-height: 1.3;
                    }
                }
            }
        }

        .roi-up {
            .two-col-img img {
                width: 85%;
            }
        }

        .roi-soul {
            padding-top: 8rem;
            padding-bottom: 8rem;
        }

        .roi-alternative {
            padding-bottom: 8rem;
        }

        .roi-table {
            padding-bottom: 8rem;

            .stretch {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }

            .two-col-img {
                width: 60%;
            }
        }

        .roi-bets {
            position: relative;

            .header-img {
                margin: 0 -1rem -30% -1rem;
            }

            h2 {
                font-family: "neue-haas-grotesk-display", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 5rem;
                line-height: 0.9;
                // width: 90%;
            }
        }

        .roi-hypocrisy {
            padding-top: 4rem;
            padding-bottom: 8rem;

            .right-align {
                border-top: 0.5rem solid var(--bodyColor);
                display: flex;
                justify-items: flex-end;
                align-items: flex-end;

                h2 {
                    font-family: "neue-haas-grotesk-display", sans-serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: 4.5rem;
                    line-height: 1;
                    transform: translateY(0.6rem);
                    color: #C71827;
                }
            }
        }

        .roi-rigor {
            background-color: #000101;
            color: var(--backgroundColor);

            h2 {
                font-family: "neue-haas-grotesk-display", sans-serif;
                font-weight: 700;
                font-style: normal;
                font-size: 2.5rem;
                line-height: 1.2;
                padding: 0 1rem;
            }

            .two-cols {
                padding: 0 1rem 3rem 1rem;
                align-items: flex-end;
            }

            .end {
                padding: 5rem 0 3rem 0;
            }
        }
    }
}

.shallow {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    .work-navigation {
        position: absolute;
        z-index: 10000;
        width: 100%;
        color: var(--backgroundColor);

        a .logo {
            background-color: transparent
        }

        a:hover {
            background-color: transparent
        }

        .logo path {
            stroke: var(--backgroundColor);
        }
    }

    .text-content {
        padding: 0 0.5rem;
        max-width: 1600px;
        margin: 0 auto;

        @media screen and (min-width: 980px) {
            padding: 0 4rem;
        }          
    }

    .intro {
        max-width: 4000px;
        position: relative;

        .video-container {
            position: relative;
            width: 100%;
            padding-bottom: 4rem;
        }

        .h1-container {
            z-index: 10004;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h1 {
            display: block;
            margin-top: -4rem;

            span {
                line-height: 1;
                background: rgba(255, 255, 255, 0.1);
                box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.5),
                            inset -2px -2px 2px 1px rgba(255, 255, 255, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
                color: rgba(255, 255, 255, 0.85);
                backdrop-filter: blur(4px);
                backdrop-filter: url(#filter);
                -webkit-backdrop-filter: blur(4px);
                display: inline-block;
                // width: 75%;
                box-sizing: border-box;
                font-size: 1rem;
                padding: 1.5rem 2rem;
                border-radius: 10.2vmin 9.8vmin 10.2vmin 9.8vmin;
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                font-weight: 700;
                text-align: center;
            }
        }

        @media screen and (min-width: 980px) {
            .video-container {
                padding-bottom: 0;
            }

            h1 {
                margin-top: -0;
            }

            h1 span {
                font-size: 1.75rem;
            }
        }

        .header-content{
            position: relative;
            z-index: 0;
        }

        p {
            font-size: 1.2rem;
            font-weight: 400;
            margin-top: -4.5rem;
            position: relative;
            z-index: 0;
            line-height: 1.4;
            max-width: 30rem;
            margin: -4.5rem auto 0 auto;

            &::first-letter {
                font-size: 3.65rem;
                font-weight: 800;
                float: left;
                line-height: 0.9;
                margin: 0 0.2rem 0 0;
            }
        }
    }
    
    .body-copy {
        max-width: 30rem;

        p {
            max-width: 30rem;
            line-height: 1.4;
            margin: 1.5rem 0;

            @media screen and (min-width: 980px) {
                font-size: 0.75rem;
            }
        }

        blockquote {

            background: linear-gradient(135deg, rgba(0, 0, 0, 0.05) 0%, rgba(255, 255, 255, 1) 100%);
            box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.9),
                        inset -2px -2px 2px 1px rgba(255, 255, 255, 0.05), 0 4px 10px 0 rgba(0, 0, 0, 0.1),
                        0 0 80px rgba(0, 0, 0, 0.08);
            color: rgba(0, 0, 0, 1);
            backdrop-filter: blur(4px);
            backdrop-filter: url(#filter);
            -webkit-backdrop-filter: blur(4px);
            display: inline-block;
            box-sizing: border-box;
            font-size: 1.75rem;
            padding: 1rem 1.2rem;
            border-radius: 5.2vmin 4.8vmin 5.2vmin 4.8vmin;

            h3 {
                font-size: 1rem;
                margin: 0;
                font-weight: 600;
                margin-bottom: 0.75rem;
            }

            p {
                margin: 0 0 1.5rem 0;
                font-size: 1rem;
                line-height: 1;
            }

            .options {
                display: flex;
                gap: 0.5rem;
                width: 100%;
            }
            
            .primary,
            .secondary {
                border-radius: 50rem;
                font-size: 1rem;
                background-color: rgba(220, 220, 228, 0.9);
                width: 100%;
                text-align: center;
                padding: 0.5rem 0.2rem;
            }

            .primary {
                background-color: #0088FF;
                color: var(--backgroundColor);
            }

            @media screen and (min-width: 980px) {
                float: left;
                margin: 0.3rem 1rem 1rem -3rem;
                width: 51%;
            }
        }
    }

    .gradient-background {
      background-size: 100%;  
      background-position: bottom left;
      background-repeat: no-repeat;
      position: relative;
      z-index: 0;

      section p:last-child {
          position: relative;
          margin-bottom: -1px;
          z-index: 10004;
      }
    }

    .bottom-gradient {
        background: linear-gradient(180deg, rgba(0, 131, 181, 1) 0%, rgba(23, 53, 73, 1) 60%);

        section {
            color: var(--backgroundColor);
            padding-top: 1px;
            padding-bottom: 10rem;
            margin-top: -2px;
            position: relative;

            p:last-child {
                margin: 5rem 0;
            }

            .h2-container {
                position: absolute;
                margin: -6rem 0 5rem 0rem;
                z-index: 10005;
                @media screen and (min-width: 980px) {
                    margin: -13rem 0 5rem -2rem;
                }
            }

            h2 {
                font-size: 1rem;
                line-height: 1;

                background: rgba(255, 255, 255, 0.1);
                box-shadow: inset 1px 1px 1px 0 rgba(255, 255, 255, 0.5),
                            inset -2px -2px 2px 1px rgba(255, 255, 255, 0.3), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
                color: rgba(255, 255, 255, 0.85);
                backdrop-filter: blur(4px);
                backdrop-filter: url(#filter);
                -webkit-backdrop-filter: blur(4px);
                display: inline-block;
                box-sizing: border-box;
                padding: 1.5rem 2rem;
                border-radius: 10.2vmin 9.8vmin 10.2vmin 9.8vmin;
                text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                font-weight: 700;
                text-align: center;

                @media screen and (min-width: 980px) {
                    font-size: 2rem;
                }
            }
        }
    }
}