
:root {
  --bodyColor: black;
  --backgroundColor: white;
  // --highlightColor: #00E3B4;
  --defaultFontSize: calc(16px + (40 - 20) * ((100vw - 100px) / (1980 - 100)));
}

html {
  font-size: var(--defaultFontSize);
  height: 100%;
  color: var(--bodyColor);
  background-color: var(--backgroundColor);
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

body {
  font-size: var(--defaultFontSize);
  color: inherit;
  background-color: inherit;
  min-height: 100%;

  margin: 0;
  padding: 0;

  // font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family:"freight-sans-pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

div.wrapper,
div.portfolio {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-end;
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
}

div.portfolio {
  margin-top: 2rem;
}


h1 {
  display: none;
}

.logoWrapper {
  width: 100%;
  text-align: left;
}

.logo {
  display: block;
  height: 1.5rem;
  transition: transform 0.2s ease-in-out;

  path {
    stroke: var(--bodyColor);
    stroke-width: 5pt;
    stroke-linecap: round;
    fill: transparent;
    stroke-dasharray: 155;
    stroke-dashoffset: 155;
    animation: dash 0.9s ease-in-out 0.5s forwards;
  }
}

.intro {
  font-size: 2rem;
  line-height: 1.1;
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeIn 0.5s ease-in-out 0.2s forwards;
  max-width: 1600px;
}

.links {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  max-width: 1200px;
}

a {
  color: var(--bodyColor);
  display: inline-block;
  transition: all 0.2s;

  .logo {
    background-color: var(--backgroundColor);
  }

  &:hover {
    color: var(--backgroundColor);
    background-color: var(--bodyColor);
    text-decoration: none;

    .logo {
      background-color: var(--backgroundColor);
      transform: scale(1.2);
    }
  }
}

.react-tabs__tab-list {
  list-style-type: none;
  margin: 0;
  padding: 3rem 0 1rem 0;
  display: flex;
  flex-direction: row;
}

.react-tabs__tab {
  font-size: 1.5rem;
  transition: all 0.2s;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  border: 0.1rem solid var(--backgroundColor);

  &:hover {
    color: var(--backgroundColor);
    border-color: var(--bodyColor);
    background-color: var(--bodyColor);
  }
}

.react-tabs__tab--selected {
  border-color: var(--bodyColor);
}

.react-tabs .other-work {
  padding-top: 1rem;
  margin-top: 0;
}

.expertise {
  h3 {
    font-weight: 400;
    font-size: 1.3rem;
    margin: 0;
    padding-top: 1rem;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 0.5s ease-in-out 0.5s forwards;
    max-width: 1200px;
    border-top: 2px solid var(--bodyColor);
  }
  p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-style: italic;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 100;
    transform: translateY(0);
  }
}

@keyframes opacity {
  to {
    opacity: 1;
  }
}