.work {
 padding: 0.3rem;
}

.work-navigation {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem 1rem 0 1rem;

    .logo {
        height: 1.2rem;
    }
}
.work-navigation-links {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: flex-end;
    

    a {
        display: inline-block;
        text-decoration: none;
        font-size: 1.3rem;

        &.next::after {
            font-family: 'Times New Roman', Times, serif;
            display: inline-block;
            font-weight: bold;
            padding-left: 0.5rem;
            content: " →";
        }

        &.prev::before {
            font-family: 'Times New Roman', Times, serif;
            display: inline-block;
            font-weight: bold;
            padding-right: 0.5rem;
            content: "← ";
        }
        
    }
}

.other-work {
    padding: 5rem 0 1rem 0;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 0.5s ease-in-out 0.8s forwards;
    position: relative;

    &.with-padding {
        padding: 5rem 1rem 1rem 1rem;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-bottom: 2px solid var(--bodyColor);
    }

    li {
        padding: 0;
        border-top: 2px solid var(--bodyColor);
    }

    a {
        text-decoration: none;
        padding: 0.75rem 0;
        display: block;
        font-size: 1.3rem;

        &::after {
            font-family: 'Times New Roman', Times, serif;
            display: inline-block;
            font-weight: bold;
            padding-left: 0.5rem;
            content: " →";
        }
    }
}
.work {
    .other-work {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.work-text-large {
    font-size: 2.5rem;
    line-height: 1;
    padding: 0 1rem;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 0.5s ease-in-out 0.2s forwards;
    max-width: 45rem;
    
    p {
        margin: 1.75rem 0;
    }
}

.work-meta {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1rem 1rem 0 1rem;
    margin: 0 0 4rem 0;
    font-size: 1.3rem;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 0.5s ease-in-out 0.4s forwards;
}
.work-meta-element {
    padding: 0 3rem 1.5rem 0;
}
.work-meta-element-title {
    font-style: italic;
}
.work-meta-element-content {

}

.work-text {
    padding: 0 1rem;

    p {
        max-width: 40rem;
    }
}

.media-full-width {
    margin-bottom: 0.4rem;
    opacity: 0;
    transform: translateY(2rem);
    animation: fadeIn 0.5s ease-in-out 0.6s forwards;
    
    img, video {
        display: block;
        width: 100%;
        height: auto;;
    }

    p {
        max-width: 37rem;
        padding: 0 1rem;
    }
}
.media-15-width {
    margin-bottom: 0.4rem;
    span {
        // height: auto !important;
    }

    img, video {
        display: block;
        width: 15% !important;
        height: auto;
        margin: 0 auto;
    }
}


.padding-top-bottom {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.padding-top-bottom-large {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.padding-top {
    padding-top: 5rem;
}

.padding-bottom {
    padding-bottom: 5rem;
}

.two-cols-media-right {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0.3rem;
    width: 90%;

    & > div {
        flex: 1 1 auto;
        width: 50%;
        position: relative;
    }

    img, video {
        display: block;
        width: 95%;
        height: auto;;
    }
}

.overlap {
    position: relative;
}
.overlap-right {
    position: absolute;
    right: 0;
    text-align: right;
    margin-right: -0.7rem;
    width: 50%;
    z-index: 10000;
    min-width: 11rem;
}
.overlap-top {
    margin-top: -0.7rem;
}

.metro-svg-container {
    background-color: #fbf3ee;
    padding: 1rem;
}

.metro-svg-container > svg {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    outline: none;

    #central-background {
      opacity: 0;
      animation: opacity 1s ease-in-out forwards;
    }
    #lines path {
      stroke-dasharray: 10000;
      stroke-dashoffset: 10000;
    }
    #line-names {
      opacity: 0;
    }
    #line-ends {
      opacity: 0;
    }
    #stations {
      opacity: 0;
    }
    #districts {
      opacity: 0;
    }
  }

  .svg-on-screen {
    #central-background {
        opacity: 0;
        animation: opacity 1s ease-in-out forwards;
      }
      #lines path {
        animation: dash 2s ease-in-out forwards 1s;
      }
      #line-names {
        animation: opacity 0.5s ease-in-out forwards 3s;
      }
      #line-ends {
        animation: opacity 0.5s ease-in-out forwards 3s;
      }
      #stations {
        animation: opacity 1s ease-in-out forwards 3.5s;
      }
      #districts {
        animation: opacity 1s ease-in-out forwards;
      }
  }


  .preview-images {

    img {
        display: none;
        position: fixed;
        left: 0.5rem;
        transform: translateY(-110%) translateX(1rem);
        box-shadow: 0 0 2rem rgba(0,0,0,0.2);
    }

    img.is-active {
        display: block;
    }
  }